body{
    background-color: sandybrown;
    font-size: 10px;
}
#caja1{
    background-color: skyblue;
    font-size: 2em;
    height: 300px;
}
div#caja1 > div.cajas > p{
    font-size: 2em;
    color: hotpink;
}
#caja2{
    background-color: springgreen;
}
.cajas{
    background-color: violet;
    width: 20%;
    height: 200px;
   /* border: 2px solid greenyellow;*/
    float: left;
    margin-left: 4%;
    margin-top: 20px;
}